@model DanhGiaCamLaoViewModel

<form method="post" autocomplete="off" id="frmThemMoiCamLaoPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaCamLaoDTO.SupplierId />
        
        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" readonly/>
                <span asp-validation-for="DanhGiaCamLaoDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.ThoiGianHoatDong" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.ThoiGianHoatDong" class="form-control form-control-sm " id="txtThoiGianHoatDong" />
                <span asp-validation-for="DanhGiaCamLaoDTO.ThoiGianHoatDong" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.CacDoiTacVn" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.CacDoiTacVn" class="form-control form-control-sm " id="txtCacDoiTacVn" />
                <span asp-validation-for="DanhGiaCamLaoDTO.CacDoiTacVn" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.Tuyen" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.Tuyen" class="form-control form-control-sm " id="txtTuyen" />
                <span asp-validation-for="DanhGiaCamLaoDTO.Tuyen" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.CldvvaHdv" class="control-label" for="txtCoGpkd"></label>
                <input asp-for="DanhGiaCamLaoDTO.CldvvaHdv" class="form-control form-control-sm " id="txtCldvvaHdv" />
                @*<select asp-for="DanhGiaCamLaoDTO.LoaiDvid" class="form-control form-control-sm input-sm select2"
                        asp-items="@(new SelectList(Model.LoaiDvDTOs, "id", "TenLoai"))" id="ddlLoaiDvid">
                        <option>-- Select --</option>
                        </select>*@
                <span asp-validation-for="DanhGiaCamLaoDTO.CldvvaHdv" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.SanPham" class="control-label" for="txtCoHdvat"></label>
                <input asp-for="DanhGiaCamLaoDTO.SanPham" class="form-control form-control-sm " id="txtSanPham" />
                <span asp-validation-for="DanhGiaCamLaoDTO.SanPham" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.GiaCa" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <input asp-for="DanhGiaCamLaoDTO.GiaCa" class="form-control form-control-sm numbers" id="txtGiaCa" />
                <span asp-validation-for="DanhGiaCamLaoDTO.GiaCa" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.CoHtxuLySuCo" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.CoHtxuLySuCo" class="form-control form-control-sm " id="ckCoHtxuLySuCo" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.CoHtxuLySuCo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaCamLaoDTO.KhaoSatThucTe" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.KhaoSatThucTe" class="form-control form-control-sm " id="ckKhaoSatThucTe" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.KhaoSatThucTe" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaCamLaoDTO.Kqdat" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.Kqdat" class="form-control form-control-sm " id="ckKqdat" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.Kqdat" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaCamLaoDTO.KqkhaoSatThem" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.KqkhaoSatThem" class="form-control form-control-sm " id="ckKqkhaoSatThem" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.KqkhaoSatThem" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaCamLaoDTO.DongYduaVaoDsncu" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.DongYduaVaoDsncu" class="form-control form-control-sm float-left" id="ckDongYduaVaoDsncu" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.DongYduaVaoDsncu" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-4">
                <label asp-for="DanhGiaCamLaoDTO.TiemNang" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.TiemNang" class="form-control form-control-sm float-left" id="ckTiemNang" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.TiemNang" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaCamLaoDTO.TaiKy" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.TaiKy" class="form-control form-control-sm float-left" id="ckTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaCamLaoDTO.TaiKy" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaCamLaoDTO.NguoiDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.NguoiDanhGia" class="form-control form-control-sm " id="txtNguoiDanhGia" />
                <span asp-validation-for="DanhGiaCamLaoDTO.NguoiDanhGia" class="text-danger"></span>
            </div>
            
            <div class="col-md-2">
                <label asp-for="DanhGiaCamLaoDTO.NgayDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaCamLaoDTO.NgayDanhGia" class="form-control form-control-sm " id="txtDanhGiaCamLaoDTO" type="date" />
                <span asp-validation-for="DanhGiaCamLaoDTO.NgayDanhGia" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnThemMoiCamLaoPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnThemMoiCamLaoPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

@*<script src="~/lib/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/Admin/DichVuPartial/themMoiCamLaoController"></script>
*@

<script src="~/js/Admin/Supplier/indexController.js"></script>

<script>

    $('#btnThemMoiCamLaoPartial_Back').off('click').on('click', function(){
        $('#divCamLao').show(500);
        $('#ThemMoiCamLao_Partial').hide(500);
        $('#CapNhatCamLao_Partial').hide(500);
    })

    $('#btnThemMoiCamLaoPartial_Save').off('click').on('click', function () {

        if ($('#frmThemMoiCamLaoPartial').valid()) {
            var camLao = $('#frmThemMoiCamLaoPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaCamLao/ThemMoicamLao_Partial",
                data: camLao,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoicamLao_Partial').hide(500);
                        $('#CapNhatcamLao_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        CamLaoTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>
