@model ThanhPho1ViewModel
@{
    ViewData["Title"] = "Create";
}

<!-- main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        @*<div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm CT phiếu</h3>

            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i>
            </button>
            </div>
            </div>*@
        <div class="card-body p-0">

            <form method="post" asp-action="Create_Partial" autocomplete="off" id="frm_Create_Partial" enctype="multipart/form-data">
                <div class="pr-4 pl-4 text-sm">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for=TinhDTO.Matinh type="hidden" />

                    <div class=" row">

                        <div class="col-md-6">
                            <label asp-for="ThanhPho1DTO.Matp" class="control-label"></label>
                            <input asp-for="ThanhPho1DTO.Matp" class="form-control form-control-sm" id="txtMatp" readonly />
                            <span asp-validation-for="ThanhPho1DTO.Matp" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="ThanhPho1DTO.Tentp" class="control-label"></label>
                            <input asp-for="ThanhPho1DTO.Tentp" class="form-control form-control-sm" id="txtTentp" />
                            <span asp-validation-for="ThanhPho1DTO.Tentp" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" pt-1 pb-1">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveData"><i class="fas fa-save"></i> Save</button>
                        <button type="button" class="btn btn-success btn-sm" id="btnBackCreateThanhPho1"><i class="fas fa-backward "></i> Back</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
</section>

<input type="hidden" id="hidTxtMaKh" />

<script src="~/js/Admin/TinhTP/indexController.js"></script>

<script>

    $('#frm_Create_Partial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            error.addClass('invalid-feedback').removeClass('error');
            element.closest('#txtSgtcode').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    //$('#txtSgtcode').rules('add', {
    //    //minlength: 17,
    //    maxlength: 17,
    //    messages: {
    //        minlength: "Sgtcode phải là 17 ký tự",
    //        maxlength: "Sgtcode phải là 17 ký tự"
    //    }
    //});

    // save
    $('#btnSaveData').off('click').on('click', function () {
        //debugger

            if ($('#frm_Create_Partial').valid()) {
                var thanhPho1 = $('#frm_Create_Partial').serialize();
                $.ajax({
                    type: "POST",
                    url: "/ThanhPho1/Create_Partial",
                    data: thanhPho1,
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {

                            toastr.success('Tạo mới thành công!'); // toastr in admin/tour/indexController.js

                            $('#ThanhPho1_Create_Partial').modal('hide');
                            //debugger
                            indexController.TdVal_Click('@Model.TinhDTO.Matinh');
                        }
                        else {
                            toastr.error(response.message);

                        }
                    }
                });
            }
    });

    $('#btnBackCreateThanhPho1').off('click').on('click', function () {
        tinhId = '@Model.TinhDTO.Matinh';
        indexController.TdVal_Click(tinhId);
    })
    //// Get_DienGiai_By_TkNo_TkCo forward to service
</script>