@model DanhGiaVanChuyenViewModel

<form method="post" autocomplete="off" id="frmThemMoiVanChuyenPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaVanChuyenDTO.SupplierId />

        <div class="form-group row">

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" readonly />
                <span asp-validation-for="DanhGiaVanChuyenDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.LanDauOrTaiKy" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <input asp-for="DanhGiaVanChuyenDTO.LanDauOrTaiKy" class="form-control form-control-sm numbers" id="ckLanDauOrTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.LanDauOrTaiKy" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.PhapNhan" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.PhapNhan" class="form-control form-control-sm " id="txtPhapNhan" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.PhapNhan" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaVanChuyenDTO.SoXeChinhThuc" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.SoXeChinhThuc" class="form-control form-control-sm " id="txtSoXeChinhThuc" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.SoXeChinhThuc" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaVanChuyenDTO.KhaNangHuyDong" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.KhaNangHuyDong" class="form-control form-control-sm " id="txtKhaNangHuyDong" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.KhaNangHuyDong" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaVanChuyenDTO.Gia" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.Gia" class="form-control form-control-sm numbers" id="txtGia" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.Gia" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaVanChuyenDTO.KinhNghiem" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.KinhNghiem" class="form-control form-control-sm " id="txtKinhNghiem" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.KinhNghiem" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.TiemNang" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.TiemNang" class="form-control form-control-sm float-left" id="ckTiemNang" type="checkbox" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.TiemNang" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.TaiKy" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.TaiKy" class="form-control form-control-sm float-left" id="ckTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.TaiKy" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="DanhGiaVanChuyenDTO.NguoiDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaVanChuyenDTO.NguoiDanhGia" class="form-control form-control-sm " id="txtNguoiDanhGia" />
                <span asp-validation-for="DanhGiaVanChuyenDTO.NguoiDanhGia" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnThemMoiVanChuyenPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnThemMoiVanChuyenPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

@*<script src="~/lib/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/Admin/DichVuPartial/themMoiCamLaoController"></script>
*@

<script src="~/js/Admin/Supplier/indexController.js"></script>

<script>

    $('#btnThemMoiVanChuyenPartial_Back').off('click').on('click', function(){
        $('#divVanChuyen').show(500);
        $('#ThemMoiVanChuyen_Partial').hide(500);
        $('#CapNhatVanChuyen_Partial').hide(500);
    })

    $('#btnThemMoiVanChuyenPartial_Save').off('click').on('click', function () {

        if ($('#frmThemMoiVanChuyenPartial').valid()) {
            var vanChuyen = $('#frmThemMoiVanChuyenPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaVanChuyen/ThemMoiVanChuyen_Partial",
                data: vanChuyen,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiVanChuyen_Partial').hide(500);
                        $('#CapNhatVanChuyen_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        VanChuyenTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>