@model DanhGiaKhachSanViewModel

<form method="post" autocomplete="off" id="frmThemMoiKhachSanPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaKhachSanDTO.SupplierId />

        <div class="form-group row">

            <div class="col-md-8">
                <label asp-for="DanhGiaKhachSanDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" readonly />
                <span asp-validation-for="DanhGiaKhachSanDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.TieuChuanSao" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <select asp-for="DanhGiaKhachSanDTO.TieuChuanSao" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.LoaiSaos))" id="ddlTieuChuanSao">
                </select>
                <span asp-validation-for="DanhGiaKhachSanDTO.TieuChuanSao" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.SLNhaHang" class="control-label" for="txtCoNhaHang"></label>
                <input asp-for="DanhGiaKhachSanDTO.SLNhaHang" class="form-control form-control-sm " id="txtSLNhaHang" />
                <span asp-validation-for="DanhGiaKhachSanDTO.SLNhaHang" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">


            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.SLPhong" class="control-label" for="txtCoNhaHang"></label>
                <input asp-for="DanhGiaKhachSanDTO.SLPhong" class="form-control form-control-sm " id="txtSLNhaHang" />
                <span asp-validation-for="DanhGiaKhachSanDTO.SLPhong" class="text-danger"></span>
            </div>
            @*
                <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.SucChuaToiDa" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.SucChuaToiDa" class="form-control form-control-sm " id="txtSucChuaToiDa" />
                <span asp-validation-for="DanhGiaKhachSanDTO.SucChuaToiDa" class="text-danger"></span>
                </div>
            *@
            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.ViTri" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.ViTri" class="form-control form-control-sm " id="txtViTri" />
                <span asp-validation-for="DanhGiaKhachSanDTO.ViTri" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.SoChoPhongHop" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.SoChoPhongHop" class="form-control form-control-sm " id="txtSoChoPhongHop" />
                <span asp-validation-for="DanhGiaKhachSanDTO.SoChoPhongHop" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.ThaiDoPvcuaNv" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.ThaiDoPvcuaNv" class="form-control form-control-sm " id="txtThaiDoPvcuaNv" />
                <span asp-validation-for="DanhGiaKhachSanDTO.ThaiDoPvcuaNv" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.NguoiDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.NguoiDanhGia" class="form-control form-control-sm " id="txtNguoiDanhGia" />
                <span asp-validation-for="DanhGiaKhachSanDTO.NguoiDanhGia" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.NgayDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.NgayDanhGia" class="form-control form-control-sm " id="txtNgayDanhGia" type="date" />
                <span asp-validation-for="DanhGiaKhachSanDTO.NgayDanhGia" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <!--checkbox-->

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.Gpkd" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.Gpkd" class="form-control form-control-sm " id="txtGpkd" />
                <span asp-validation-for="DanhGiaKhachSanDTO.Gpkd" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.Vat" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.Vat" class="form-control form-control-sm " id="txtVat" />
                <span asp-validation-for="DanhGiaKhachSanDTO.Vat" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.HoBoi" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.HoBoi" class="form-control form-control-sm " id="ckHoBoi" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.HoBoi" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.BaiBienRieng" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.BaiBienRieng" class="form-control form-control-sm " id="ckBaiBienRieng" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.BaiBienRieng" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.PhongNoiBo" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.PhongNoiBo" class="form-control form-control-sm " id="ckPhongNoiBo" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.PhongNoiBo" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.BaiDoXe" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.BaiDoXe" class="form-control form-control-sm float-left" id="ckBaiDoXe" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.BaiDoXe" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.KhaoSatThucTe" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.KhaoSatThucTe" class="form-control form-control-sm " id="ckKhaoSatThucTe" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.KhaoSatThucTe" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.KqDat" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.KqDat" class="form-control form-control-sm " id="txtKqDat" />
                <span asp-validation-for="DanhGiaKhachSanDTO.KqDat" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaKhachSanDTO.KqKhaoSatThem" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.KqKhaoSatThem" class="form-control form-control-sm " id="ckKqKhaoSatThem" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.KqKhaoSatThem" class="text-danger"></span>
            </div>
            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.TiemNang" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.TiemNang" class="form-control form-control-sm " id="ckTiemNang" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.TiemNang" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaKhachSanDTO.TaiKy" class="control-label"></label>
                <input asp-for="DanhGiaKhachSanDTO.TaiKy" class="form-control form-control-sm " id="ckTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaKhachSanDTO.TaiKy" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnThemMoiKhachSanPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnThemMoiKhachSanPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

<script src="~/js/Admin/Supplier/indexController"></script>

<script>

    $('#btnThemMoiKhachSanPartial_Back').off('click').on('click', function(){
        $('#divKhachSan').show(500);
        $('#ThemMoiKhachSan_Partial').hide(500);
        $('#CapNhatKhachSan_Partial').hide(500);
    })

    $('#btnThemMoiKhachSanPartial_Save').off('click').on('click', function () {

        if ($('#frmThemMoiKhachSanPartial').valid()) {
            var khachSan = $('#frmThemMoiKhachSanPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaKhachSan/ThemMoiKhachSan_Partial",
                data: khachSan,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiKhachSan_Partial').hide(500);
                        $('#CapNhatKhachSan_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        KhachSanTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>