@model DanhGiaNhaHangViewModel

<form method="post" autocomplete="off" id="frmCapNhatNhaHangPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaNhaHangDTO.SupplierId />
        <input type="hidden" asp-for=DanhGiaNhaHangDTO.Id />
        <input type="hidden" asp-for=DanhGiaNhaHangDTO.LoaiDvid />
        <input type="hidden" asp-for=DanhGiaNhaHangDTO.NgayTao />
        <input type="hidden" asp-for=DanhGiaNhaHangDTO.NguoiTao />
<!--form group-->
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnCapNhatNhaHangPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnCapNhatNhaHangPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

<script src="~/js/Admin/Supplier/indexController" > </script>

<script>
    $('#btnCapNhatNhaHangPartial_Back').off('click').on('click', function(){
        $('#tblNhaHang').show(500);
        $('#ThemMoiNhaHang_Partial').hide(500);
        $('#CapNhatNhaHang_Partial').hide(500);
    })

    
    $('#btnCapNhatNhaHangPartial_Save').off('click').on('click', function () {
        
        if ($('#frmCapNhatNhaHangPartial').valid()) {
            var nhaHang = $('#frmCapNhatNhaHangPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaNhaHang/CapNhatNhaHang_Partial",
                data: nhaHang,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Cập nhật thành công!'); // toastr in admin/tour/indexController.js

                        $('#CapNhatNhaHang_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';
                        
                        indexController.Load_DichVuPartial(supplierId);
                    }
                    else {
                        toastr.error(response.message);
                        
                    }
                }
            });
        }
        
    });

</script>