@model DanhGiaDTQViewModel

<form method="post" autocomplete="off" id="frmCapNhatDTQPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaDTQDTO.SupplierId />
        <input type="hidden" asp-for=DanhGiaDTQDTO.Id />
        <input type="hidden" asp-for=DanhGiaDTQDTO.LoaiDvid />
        <input type="hidden" asp-for=DanhGiaDTQDTO.NgayTao />
        <input type="hidden" asp-for=DanhGiaDTQDTO.NguoiTao />

        <div class="form-group row">

            <div class="col-md-8">
                <label asp-for="DanhGiaDTQDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" readonly />
                <span asp-validation-for="DanhGiaDTQDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.SoChoToiDa" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.SoChoToiDa" class="form-control form-control-sm " id="txtSoChoToiDa" />
                <span asp-validation-for="DanhGiaDTQDTO.SoChoToiDa" class="text-danger"></span>
            </div>
            
            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.MucDoHapDan" class="control-label"></label>
                <select asp-for="DanhGiaDTQDTO.MucDoHapDan" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.MucDoHapDans))" id="ddlMucDoHapDan">
                </select>
                <span asp-validation-for="DanhGiaDTQDTO.MucDoHapDan" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.SoLuongNhaHang" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.SoLuongNhaHang" class="form-control form-control-sm " id="txtSoLuongNhaHang" />
                <span asp-validation-for="DanhGiaDTQDTO.SoLuongNhaHang" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.NhaVeSinh" class="control-label"></label>
                <select asp-for="DanhGiaDTQDTO.NhaVeSinh" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.NhaVeSinhs))" id="ddlNhaVeSinh">
                </select>
                <span asp-validation-for="DanhGiaDTQDTO.NhaVeSinh" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="form-control form-control-sm " id="txtThaiDoPvcuaNv" />
                <span asp-validation-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.DoiTuongKhachPhuHop" class="control-label"></label>
                <select asp-for="DanhGiaDTQDTO.DoiTuongKhachPhuHop" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.DoiTuongKhachPhuHops))" id="ddlDoiTuongKhachPhuHop">
                </select>
                <span asp-validation-for="DanhGiaDTQDTO.DoiTuongKhachPhuHop" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.ViTri" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.ViTri" class="form-control form-control-sm " id="txtViTri" />
                <span asp-validation-for="DanhGiaDTQDTO.ViTri" class="text-danger"></span>
            </div>
            
            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.NguoiDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.NguoiDanhGia" class="form-control form-control-sm " id="txtNguoiDanhGia" />
                <span asp-validation-for="DanhGiaDTQDTO.NguoiDanhGia" class="text-danger"></span>
            </div>

        </div>
        
        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.NgayDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.NgayDanhGia" class="form-control form-control-sm " id="txtNgayDanhGia" type="date" />
                <span asp-validation-for="DanhGiaDTQDTO.NgayDanhGia" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.Gpkd" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <input asp-for="DanhGiaDTQDTO.Gpkd" class="form-control form-control-sm " id="ckGpkd" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.Gpkd" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.Vat" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.Vat" class="form-control form-control-sm " id="ckvat" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.Vat" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.BaiDoXe" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.BaiDoXe" class="form-control form-control-sm " id="ckBaiDoXe" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.BaiDoXe" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.CoCheDoHdv" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.CoCheDoHdv" class="form-control form-control-sm " id="ckCoCheDoHdv" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.CoCheDoHdv" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.KhaoSatThucTe" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.KhaoSatThucTe" class="form-control form-control-sm " id="ckKhaoSatThucTe" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.KhaoSatThucTe" class="text-danger"></span>
            </div>
            
            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="form-control form-control-sm float-left" id="ckDongYduaVaoDsncu" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="text-danger"></span>
            </div>
            
            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.KqDat" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.KqDat" class="form-control form-control-sm " id="ckKqDat" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.KqDat" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.KqKhaoSatThem" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.KqKhaoSatThem" class="form-control form-control-sm float-left" id="ckKqKhaoSatThem" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.KqKhaoSatThem" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.TiemNang" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.TiemNang" class="form-control form-control-sm float-left" id="ckTiemNang" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.TiemNang" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaDTQDTO.TaiKy" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.TaiKy" class="form-control form-control-sm float-left" id="ckTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.TaiKy" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnCapNhatDTQPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnCapNhatDTQPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

@*<script src="~/js/Admin/Supplier/indexController"></script>*@

<script>
    $('#btnCapNhatDTQPartial_Back').off('click').on('click', function(){
        $('#divDiemTQ').show(500);
        $('#ThemMoiDTQ_Partial').hide(500);
        $('#CapNhatDTQ_Partial').hide(500);
    })

    $('#btnCapNhatDTQPartial_Save').off('click').on('click', function () {

        if ($('#frmCapNhatDTQPartial').valid()) {
            var diemTQ = $('#frmCapNhatDTQPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaDTQ/CapNhatDTQ_Partial",
                data: diemTQ,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Cập nhật thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiDTQ_Partial').hide(500);
                        $('#CapNhatDTQ_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        DiemTQTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>