@model DanhGiaDTQViewModel

<form method="post" autocomplete="off" id="frmCapNhatDTQPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaDTQDTO.SupplierId />
        <input type="hidden" asp-for=DanhGiaDTQDTO.Id />
        <input type="hidden" asp-for=DanhGiaDTQDTO.NgayTao />
        <input type="hidden" asp-for=DanhGiaDTQDTO.NguoiTao />
        
        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaDTQDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" />
                <span asp-validation-for="DanhGiaDTQDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-9">
                <label asp-for="DanhGiaDTQDTO.DiaChi" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.DiaChi" class="form-control form-control-sm " id="txtDiaChi" />
                <span asp-validation-for="DanhGiaDTQDTO.DiaChi" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.DienThoai" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.DienThoai" class="form-control form-control-sm " id="txtDienThoai" />
                <span asp-validation-for="DanhGiaDTQDTO.DienThoai" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.Fax" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.Fax" class="form-control form-control-sm " id="txtFax" />
                <span asp-validation-for="DanhGiaDTQDTO.Fax" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.Email" class="control-label" for="txtCoGpkd"></label>
                <input asp-for="DanhGiaDTQDTO.Email" class="form-control form-control-sm " id="txtEmail" />
                @*<select asp-for="DanhGiaDTQDTO.LoaiDvid" class="form-control form-control-sm input-sm select2"
                    asp-items="@(new SelectList(Model.LoaiDvDTOs, "id", "TenLoai"))" id="ddlLoaiDvid">
                    <option>-- Select --</option>
                    </select>*@
                <span asp-validation-for="DanhGiaDTQDTO.Email" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.Website" class="control-label" for="txtCoHdvat"></label>
                <input asp-for="DanhGiaDTQDTO.Website" class="form-control form-control-sm " id="txtWebsite" />
                <span asp-validation-for="DanhGiaDTQDTO.Website" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.CoGpkd" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <input asp-for="DanhGiaDTQDTO.CoGpkd" class="form-control form-control-sm " id="ckCoGpkd" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.CoGpkd" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.CoHdvat" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.CoHdvat" class="form-control form-control-sm " id="ckCoHdvat" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.CoHdvat" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.ViTri" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.ViTri" class="form-control form-control-sm " id="txtViTri" />
                <span asp-validation-for="DanhGiaDTQDTO.ViTri" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.SucChuaToiDa" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.SucChuaToiDa" class="form-control form-control-sm " id="txtSucChuaToiDa" />
                <span asp-validation-for="DanhGiaDTQDTO.SucChuaToiDa" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.MucDoHapDan" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.MucDoHapDan" class="form-control form-control-sm " id="txtMucDoHapDan" />
                <span asp-validation-for="DanhGiaDTQDTO.MucDoHapDan" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.CoNhaHang" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.CoNhaHang" class="form-control form-control-sm " id="txtCoNhaHang" />
                <span asp-validation-for="DanhGiaDTQDTO.CoNhaHang" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.CoNhaVeSinh" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.CoNhaVeSinh" class="form-control form-control-sm " id="txtCoNhaVeSinh" />
                <span asp-validation-for="DanhGiaDTQDTO.CoNhaVeSinh" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="form-control form-control-sm " id="txtThaiDoPvcuaNv" />
                <span asp-validation-for="DanhGiaDTQDTO.ThaiDoPvcuaNv" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-6">
                <label asp-for="DanhGiaDTQDTO.PhuongTienPvvuiChoi" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.PhuongTienPvvuiChoi" class="form-control form-control-sm " id="txtPhuongTienPvvuiChoi" />
                <span asp-validation-for="DanhGiaDTQDTO.PhuongTienPvvuiChoi" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="DanhGiaDTQDTO.CoBaiDoXe" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.CoBaiDoXe" class="form-control form-control-sm " id="txtCoBaiDoXe" />
                <span asp-validation-for="DanhGiaDTQDTO.CoBaiDoXe" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-3">
                <label asp-for="DanhGiaDTQDTO.DaCoKhaoSatThucTe" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.DaCoKhaoSatThucTe" class="form-control form-control-sm " id="ckDaCoKhaoSatThucTe" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.DaCoKhaoSatThucTe" class="text-danger"></span>
            </div>
            
            <div class="col-md-3">
                <label asp-for="DanhGiaDTQDTO.KqDat" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.KqDat" class="form-control form-control-sm " id="ckKqDat" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.KqDat" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaDTQDTO.KqKhaoSatThem" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.KqKhaoSatThem" class="form-control form-control-sm float-left" id="ckKqKhaoSatThem" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.KqKhaoSatThem" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="control-label"></label>
                <input asp-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="form-control form-control-sm float-left" id="ckDongYduaVaoDsncu" type="checkbox" />
                <span asp-validation-for="DanhGiaDTQDTO.DongYduaVaoDsncu" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnCapNhatDTQPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnCapNhatDTQPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

@*<script src="~/js/Admin/Supplier/indexController"></script>*@

<script>
    $('#btnCapNhatDTQPartial_Back').off('click').on('click', function(){
        $('#divDiemTQ').show(500);
        $('#ThemMoiDTQ_Partial').hide(500);
        $('#CapNhatDTQ_Partial').hide(500);
    })

    $('#btnCapNhatDTQPartial_Save').off('click').on('click', function () {

        if ($('#frmCapNhatDTQPartial').valid()) {
            var diemTQ = $('#frmCapNhatDTQPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaDTQ/CapNhatDTQ_Partial",
                data: diemTQ,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Cập nhật thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiDTQ_Partial').hide(500);
                        $('#CapNhatDTQ_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        DiemTQTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>