@model DanhGiaLandTourViewModel

<form method="post" autocomplete="off" id="frmThemMoiLandTourPartial" enctype="multipart/form-data">
    <div class="pr-4 pl-4 text-sm">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for=DanhGiaLandTourDTO.SupplierId />

        <div class="form-group row">

            <div class="col-md-8">
                <label asp-for="DanhGiaLandTourDTO.TenNcu" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.TenNcu" class="form-control form-control-sm " id="txtTenNcu" readonly />
                <span asp-validation-for="DanhGiaLandTourDTO.TenNcu" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.SanPham" class="control-label"></label>
                <select asp-for="DanhGiaLandTourDTO.SanPham" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.SanPhams))" id="ddlSanPham">
                </select>
                <span asp-validation-for="DanhGiaLandTourDTO.SanPham" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.GiaCa" class="control-label"></label>
                <select asp-for="DanhGiaLandTourDTO.GiaCa" class="form-control form-control-sm input-sm "
                        asp-items="@(new SelectList(Model.GiaCas))" id="ddlGiaCa">
                </select>
                <span asp-validation-for="DanhGiaLandTourDTO.GiaCa" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaLandTourDTO.NguoiDanhGia" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.NguoiDanhGia" class="form-control form-control-sm " id="txtNguoiDanhGia" />
                <span asp-validation-for="DanhGiaLandTourDTO.NguoiDanhGia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <!-- checkbox -->

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.Gpkd" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                <input asp-for="DanhGiaLandTourDTO.Gpkd" class="form-control form-control-sm " id="ckGpkd" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.Gpkd" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.Vat" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.Vat" class="form-control form-control-sm " id="ckCoHdvat" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.Vat" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaLandTourDTO.CoHoTroXuLySuCo" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.CoHoTroXuLySuCo" class="form-control form-control-sm " id="ckCoHoTroXuLySuCo" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.CoHoTroXuLySuCo" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaLandTourDTO.KhaoSatThucTe" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.KhaoSatThucTe" class="form-control form-control-sm " id="ckKhaoSatThucTe" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.KhaoSatThucTe" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.KqDat" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.KqDat" class="form-control form-control-sm " id="ckKqDat" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.KqDat" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <label asp-for="DanhGiaLandTourDTO.KqKhaoSatThem" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.KqKhaoSatThem" class="form-control form-control-sm float-left" id="ckKqKhaoSatThem" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.KqKhaoSatThem" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.TiemNang" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.TiemNang" class="form-control form-control-sm float-left" id="ckTiemNang" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.TiemNang" class="text-danger"></span>

            </div>
            
            <div class="col-md-1">
                <label asp-for="DanhGiaLandTourDTO.TaiKy" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.TaiKy" class="form-control form-control-sm float-left" id="ckTaiKy" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.TaiKy" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-2">
                <label asp-for="DanhGiaLandTourDTO.DongYduaVaoDsncu" class="control-label"></label>
                <input asp-for="DanhGiaLandTourDTO.DongYduaVaoDsncu" class="form-control form-control-sm float-left" id="ckDongYduaVaoDsncu" type="checkbox" />
                <span asp-validation-for="DanhGiaLandTourDTO.DongYduaVaoDsncu" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" id="btnThemMoiLandTourPartial_Save"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-success btn-sm" id="btnThemMoiLandTourPartial_Back"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</form>

@*<script src="~/js/Admin/Supplier/indexController"></script>*@

<script>

    $('#btnThemMoiLandTourPartial_Back').off('click').on('click', function(){
        $('#divLandTour').show(500);
        $('#ThemMoiLandTour_Partial').hide(500);
        $('#CapNhatLandTour_Partial').hide(500);
    })

    $('#btnThemMoiLandTourPartial_Save').off('click').on('click', function () {

        if ($('#frmThemMoiLandTourPartial').valid()) {
            var khachSan = $('#frmThemMoiLandTourPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/DanhGiaLandTour/ThemMoiLandTour_Partial",
                data: khachSan,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới thành công!'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiLandTour_Partial').hide(500);
                        $('#CapNhatLandTour_Partial').hide(500);

                        var supplierId = '@Model.SupplierDTO.Code';

                        LandTourTbl(supplierId);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });
</script>